.nav {
    width: 100%;
    background-color: var(--lightgrey);
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

.navlink {
    font-size: 16px;
    font-weight: var(--text);
    color: var(--black) !important;
    text-decoration: none;
    margin: 10px 20px;
    white-space: nowrap;
    border-bottom: 2px solid transparent;
}

.navlink:hover {
    color: var(--darkgrey) !important;
    border-color: black;
}

.spacer {
    width: 100%;
}

.page {
    padding: 0 var(--p1);
    max-width: 800px;
    margin: 0 auto;
}

.hamburger {
    display: none;
}

.hamburger-close {
    display: none;
}

.dropdown {
    display: none;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
    .nav {
        flex-wrap: none;
        justify-content: space-between;
    }

    .hamburger {
        display: block;
    }
}

